.home {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.body {
		margin-top: 3px;
		flex: 1;
		display: flex;
		flex-direction: column;

		img {
			object-fit: contain;
			height: 92px;
		}

		.offerBy {
			margin-top: 30px;
			display: flex;
			justify-content: center;
			font-size: small;

			a {
				text-decoration: none;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
