.home {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.home-header {
	display: flex;
	justify-content: flex-end;
	padding: 10px 20px;
	align-items: center;
}

.home-header a {
	margin-right: 20px;
	text-decoration: inherit;
	color: rgba(0, 0, 0, 0.87);
	font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}

.home-header a:hover {
	text-decoration: underline;
}

.home-header > .MuiSvgIcon-root {
	margin-right: 20px;
	color: gray;
}

.home-header-button {
	background-color: #1a73e8 !important;
}

.home-header-button:hover {
	background-color: #2b7de9 !important;
}

.home-header-button > .MuiButton-label {
	color: #fff;
}

.home-header-button-span {
	text-transform: lowercase;
}

.home-body {
	margin-top: 50px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.home-body > img {
	object-fit: contain;
	height: 92px;
}
