.headerOptions {
	display: flex;
	justify-content: flex-end;
	padding: 10px 20px;
	align-items: center;

	a {
		margin-right: 20px;
		text-decoration: inherit;
		color: var(--letters);
		font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;

		&:hover {
			text-decoration: underline;
		}
	}

	svg {
		color: var(--icons);
	}

	.appsIcon {
		margin: 0px 20px 0px 10px;
	}

	.loginButton {
		background-color: var(--buttonBg);
		transition: all 0.25s linear;

		&:hover {
			background-color: var(--buttonBgHover);
		}

		span {
			color: var(--buttonLetters);

			.lowercaseSpan {
				text-transform: lowercase;
			}
		}
	}
}

.menu {
	ul {
		background-color: var(--body) !important;

		.menuItem {
			font-size: 14px !important;
			color: var(--menuItemLetters) !important;

			.themeIcon {
				path {
					display: none;
				}
			}

			&:hover {
				background-color: var(--menuItemBgHover);

				.themeIcon {
					path {
						display: block;
					}
				}
			}
		}
	}
}
