.input {
	display: flex;
	align-items: center;
	background-color: var(--body);
	border: 1px solid var(--inputBorder);
	height: 30px;
	padding: 10px 20px;
	border-radius: 999px;
	width: 75vw;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 560px;
	transition: all 0.25s linear;

	&:hover {
		background-color: var(--inputBgHover);
		box-shadow: var(--inputBoxShadowHover);
		border-color: rgba(223, 225, 229, 0);
	}

	input {
		flex: 1;
		padding: 10px 20px;
		font-size: medium;
		border: none;
		color: var(--inputLetters);
		background-color: transparent;

		&:focus {
			outline-width: 0;
		}
	}

	.icon {
		color: gray;
	}

	&.insideHeader {
		margin-top: 0;
		width: unset;
		margin: unset;
		max-width: unset;
		background-color: var(--inputBgHover);
		box-shadow: var(--inputBoxShadowHover);
		border-color: rgba(223, 225, 229, 0);
		flex-direction: row-reverse;

		.icon {
			color: var(--inputIconInsideHeader);
		}
	}
}

.buttons {
	margin-top: 30px;
	display: flex;
	justify-content: center;

	button {
		margin: 5px;
		padding: 7px 15px;
		color: var(--searchButtonsLetters);
		background-color: var(--searchButtonsBgAndBorder);
		border: 1px solid var(--searchButtonsBgAndBorder);
		text-transform: inherit;

		&:hover {
			color: var(--searchButtonsLettersHover);
			background-color: var(--searchButtonsBgAndBorder);
			border: 1px solid var(--searchButtonsBorderHover);
			box-shadow: var(--searchButtonsBoxShadowHover);
		}
	}
}

.hidden {
	display: none;
}
